/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Sancreek);
@import url(http://fonts.googleapis.com/css?family=Fondamento);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html { background : #742c00;}

.title {
  color : #f6cf32;
  text-align : center;
  font-family : 'sancreek';
}

h1 {
  line-height : 0px;
}

p {
  margin : 80px 0px 80px 470px;
  width : 320px;
  height : 500px;
  padding : 20px;
  overflow : hidden;
  font-family : 'Fondamento';
  text-align : justify;
  outline : 2px solid #5c1e00;
}

#text {
  text-align: center;
}